<!-- Tile template. -->
<a-collada-model src="assets/tiles/{{ number }}.dae"
    rotation="0 0 0"
    position="{{ position }}"
    scale="{{ scale }}"
    look-at="[camera]"
    hover-listener>
    <a-animation attribute="scale" dur="300"  from="0.3 0.3 0.3" to="0.6 0.6 0.6" begin="mouseenter"></a-animation>
    <a-animation attribute="scale" dur="300"  from="0.6 0.6 0.6" to="0.3 0.3 0.3" begin="mouseleave"></a-animation>
</a-collada-model>
